asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
Django==6.0.3
djangorestframework==3.17.1
idna==3.13
packaging==26.0
pillow==12.2.0
PyYAML==6.0.3
requests==2.33.1
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
Unidecode==1.4.0
urllib3==2.6.3